.smallColumn {
    width: 5%;
}

.winner {
    color:green;
}

.loser {
    color:red;
}

.inlineIcon {
    display: flex;
    flex-direction: row;
}

.detail {
    display: flex;
    flex-direction: row;
}

.detail > fa {
    color: black;
}

.weekContainer {
    display: flex;
    flex-direction: column;
}

.weekItem {
    display: flex;
}
