<p-table [value]="division.data" [responsive]=true>
  <ng-template pTemplate="header">
    <tr>
      <th>Team</th>
      <th class="smallColumn">Record</th>
      <th class="smallColumn">Points</th>
      <th class="smallColumn">%</th>
      <th>Week 1</th>
      <th>Week 2</th>
      <th>Week 3</th>
      <th>Week 4</th>
      <th>Week 5</th>
      <th>Week 6</th>
      <th>Week 7</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-div>
    <tr>
      <td>{{div.label}}</td>
      <td>{{div.record}}</td>
      <td>{{div.points}}</td>
      <td pTooltip="{{div.gamesLabel}}">{{div.percentage | percent}}</td>
      <td *ngFor="let week of div.weeks" [ngClass]="{'winner': week.win === true, 'loser': week.win === false}">
        <span class="detail">{{week.opponent}}</span>
        <span class="detail">
          <span class="detail">
            ({{week.result}})&nbsp;
          </span>
          <span class="detail">
            <fa *ngIf="week.home === true" name="home"></fa>
          </span>
        </span>
      </td>
  </ng-template>
</p-table>
<h5>
  <div class="winner">Winner</div>
  <div class="loser">Loser</div>
  <fa name="home"></fa> = Home Match
</h5>