<h3>{{division.header}}</h3>
<p-table [value]="division.data">
  <ng-template pTemplate="header">
    <tr>
      <th>Team</th>
      <th>Record</th>
      <th>Points</th>
      <th>Percentage</th>
      <th>Week 1</th>
      <th>Week 2</th>
      <th>Week 3</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-div>
    <tr>
      <td>{{div.label}}</td>
      <td>{{div.record}}</td>
      <td>{{div.points}}</td>
      <td pTooltip="{{div.gamesLabel}}">{{div.percentage | percent}}</td>
      <td>{{div.week1}}</td>
      <td>{{div.week2}}</td>
      <td>{{div.week3}}</td>
    </tr>
  </ng-template>
</p-table>